---
import '../styles/theme.scss'
import '../styles/index.scss'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <main class="landing">
  <section class="hero">
    <h1>404 - Page Not Found</h1>
<p> Looks like the light you're chasing isn't here yet.</p>
  </section>


  <nav class="entry-points">
    <ul>
      <li>  <a href="/" class="home-link">
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 24 24">
      <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
    </svg>
    Return to Home
  </a></li>
      
    </ul>
  </nav>
    </main>
</body>
</html>

<style>
     .landing {
  max-width: 720px;
  margin: 0 auto;
  padding: 2rem;
  font-family: var(--theme-font-body);
  color: var(--theme-text);
}
.hero {
  margin-top: 4rem;
}
.hero h1 {
  font-size: 2.5rem;

  margin-bottom: 0.5rem;
  color: var(--theme-text-accent);
}
.hero p {
  margin-top: 2rem;
}
.entry-points {
  margin-top: 2rem;
}
.entry-points ul {
  list-style: none;
  padding: 0;
}

.entry-points li {
  margin: 0.5rem 0;
}

.entry-points a {
  text-decoration: none;
  color: var(--theme-text-accent);
  font-weight: bold;
}

</style>