---
type Props = {
  size: number
}
const { size } = Astro.props
---


<svg 
class="logo"
  width={size}
  height={size}
  viewBox="0 0 167 191"
version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
  <style>
    #star {
      fill: var(--theme-text-accent);
    }
    #star:hover {
  fill: var(--theme-text);
}
    #paw {
      fill: var(--theme-text);
    }
    #paw:hover {
  fill: var(--theme-text-accent);
}
  </style>
  <title>Logo</title>    
    <g transform="matrix(1,0,0,1,-876.821,-380.376)">
        <g transform="matrix(1.18671,0,0,1.18671,603.374,-360.878)">
            <g transform="matrix(0.842667,0,0,0.842667,-508.443,304.1)">
                <path id="paw" d="M920.413,496.731C917.873,493.742 916.445,489.922 916.445,485.941C916.445,477.549 922.787,470.401 931.119,469.402C932.471,461.424 939.451,455.528 947.542,455.528C952.311,455.528 956.857,457.576 960.017,461.147C963.177,457.576 967.724,455.528 972.493,455.528C980.584,455.528 987.564,461.424 988.916,469.402C997.232,470.414 1003.56,477.552 1003.56,485.93C1003.56,489.915 1002.12,493.738 999.579,496.727C998.971,497.44 998.303,498.109 997.57,498.715C993.854,501.787 991.651,506.328 991.598,511.149L991.598,557.967C982.873,562.377 973.452,566.399 963.568,569.843C962.566,570.192 961.567,570.533 960.57,570.865C960.38,570.928 960.19,570.991 960,571.054C959.81,570.991 959.62,570.928 959.429,570.865C958.433,570.533 957.434,570.192 956.432,569.843C946.545,566.398 937.12,562.374 928.392,557.962L928.392,511.149C928.338,506.326 926.129,501.789 922.413,498.715C921.683,498.111 921.018,497.443 920.413,496.731ZM968.725,483.302C966.761,480.021 963.583,477.888 960,477.888C956.417,477.888 953.239,480.021 951.275,483.302C949.971,485.479 949.201,488.161 949.201,491.061C949.201,498.33 954.04,504.233 960,504.233C965.96,504.233 970.799,498.33 970.799,491.061C970.799,488.161 970.029,485.479 968.725,483.302ZM916.121,498.969C917.067,500.203 918.153,501.34 919.366,502.355C919.38,502.367 919.394,502.378 919.407,502.389C922.043,504.545 923.595,507.759 923.645,511.163C923.645,511.18 923.646,547.696 923.646,556.205C905.12,547.077 889.031,536.508 876.821,525.658C887.347,516.305 900.755,507.161 916.121,498.969ZM996.345,556.209L996.345,511.181C996.388,507.771 997.939,504.549 1000.58,502.388C1000.59,502.379 1000.6,502.369 1000.61,502.36C1001.83,501.343 1002.92,500.202 1003.87,498.965C1019.24,507.158 1032.65,516.304 1043.18,525.658C1030.97,536.509 1014.87,547.081 996.345,556.209Z"/>
            </g>
        </g>
        <g transform="matrix(1.18671,0,0,1.18671,603.374,-360.878)">
            <g transform="matrix(0.842667,0,0,0.842667,-508.443,304.1)">
                <path id="star" d="M1001.68,414.573C978.659,414.573 960,429.884 960,448.771C960,429.884 941.341,414.573 918.324,414.573C941.341,414.573 960,399.263 960,380.376C960,399.263 978.659,414.573 1001.68,414.573ZM998.044,425.224C998.044,433.592 1004.61,440.376 1012.71,440.376C1004.61,440.376 998.044,447.16 998.044,455.528C998.044,447.16 991.479,440.376 983.381,440.376C991.479,440.376 998.044,433.592 998.044,425.224Z"/>
            </g>
        </g>
    </g>
</svg>
