---
// import AvatarList from './AvatarList.astro'
type Props = {
  path: string
}
// const { path } = Astro.props
---

<footer>
  <!-- <AvatarList path={path} /> -->
   <span>Copyright 2025 Pick Up the Light. Some rights reserved.
Content licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener noreferrer">CC BY-NC-SA 4.0</a>.
</span>
</footer>

<style>
  footer {
    margin-top: auto;
    padding: 1rem;
    border-top: 3px solid var(--theme-divider);
    text-align: center;
  }
</style>
